:root {
  /* inner background-color */
  --transparent-dark: rgba(15, 32, 39, 0.5);
  --transparent-mid: rgba(84, 93, 96, 0.5);
  --transparent-light: rgba(44, 83, 100, 0.5);
  --linear-gradient: linear-gradient(to bottom, var(--transparent-dark), var(--transparent-mid), var(--transparent-light));
  /* font size */
   font-size: 12px;
  /* button */
  --green-color: #97BC62;
  --red-color: #C1191C; 
}
body {
  height: 100vh;
  margin: 0;
  background-image: url('../../images/3.jpeg'); 
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center; 
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 66%; 
  height: 66%;
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%);
  z-index: 1;
  background: var(--linear-gradient);
}
h1 {
  display: flex;
  align-items: flex-start;
  font-family: 'Cinzel', serif;
  font-size: 8rem;
  text-align: center;
  color: white;
  top: 20px;
  padding: 0px;
  margin: 0px;

}
#exit {
 font-family: 'Cinzel', serif;
  font-size: 1.75rem;
  font-weight: bold;
  color: white;
  background-color: var(--red-color);
  border-radius: 50px;
  margin-right: 125px;
  padding: 10px 20px;
}
#submit {
 font-family: 'Cinzel', serif;
  font-size: 1.75rem;
  font-weight: bold;
  color: white;
  background-color: var(--green-color);
  border-radius: 50px;
  margin-left: 125px;
  padding: 10px 20px;
}