:root {
  --transparent-dark: rgba(15, 32, 39, 0.5);
  --transparent-mid: rgba(84, 93, 96, 0.5);
  --transparent-light: rgba(44, 83, 100, 0.5);
  --linear-gradient: linear-gradient(to bottom, var(--transparent-dark), var(--transparent-mid), var(--transparent-light));
  --green-color: #97BC62;
}
:root {
  font-size: 12px; 
}

body {
  height: 100vh;
  margin: 0;
  background-image: url('../images/6.jpeg'); 
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center; 
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 66%; 
  height: 66%;
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%);
  z-index: 1;
  background: var(--linear-gradient);
}

.hub
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 50%;
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    z-index: 1;
    background-image: url('../images/7.jpeg'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    gap: 5px;
}

.hub h1 {
  font-family: 'Cinzel', serif;
  font-size: 8rem;
  font-weight: bold;
  color: white;
  text-align: center;
  margin: 0px;
  padding: 0px;

}
.hub h2 {
  font-family: 'Cinzel', serif;
  font-size: 1.75rem;
  font-weight: bold;
  color: white;
  text-align: center;
  margin: 0px;
  padding: 0px;
}
button {
  font-family: 'Cinzel', serif;
  font-size: 1.75rem;
  font-weight: bold;
  color: white;
  background-color: var(--green-color);
  border-radius: 50px;
  margin: 0px;
  padding: 10px 20px;
}